*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color:  #ff9a4b;
}

main{
  width: 960px;
  margin: 50px auto;
display: flex;
justify-content:center;
}


.step-box{
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
  position: relative;
  margin-right: 30px;
}

.step-box:nth-child(3){
  margin-right: 0;
}

.step-Number{
  position: absolute;
  top:0;
  left: 0;
  background-color:  #ff9a4b;
  color: #fff;
}


.step-img1{
background-image: url(img/flow01.png);
 height: 150px;
 background-size: cover;
 background-position: bottom;
}

.step-img2{
background-image: url(img/flow02.png);
 height: 150px;
 background-size: cover;
 background-position: bottom;
}

.step-img3{
background-image: url(img/flow03.png);
 height: 150px;
 background-size: cover;
 background-position: bottom;
}

.taitol-box{
  margin-top: 15px;
  margin-bottom: 5px;
}


footer{
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {

  main{
    width: 100%;
    display: block;
    margin: 50px auto;
  }

.step-box{
  width: 90%;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.step-box:nth-child(3){
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

}
